
<div class="container">
<div class="promotion">
<img class="panda" src="{{ asset('build/images/panda.jpg') }}" alt="">
</div>
	<div class="title">
		<h1 class="vente text-center">Promotion</h1>
		<p class="text-center">Billet 1 jour non daté</p>
		<div class="container">
			<div class="row">
				<div class="col">
					<strong class="price">30 €</strong>
					<br>
					<s class="smallprice">36 €</s>
					<br>
					<strong>Adulte</strong>
					<br>
					<p class="age">11 ans et plus</p>
				</div>
				<div class="col">
					<strong class="price">23 €</strong>
					<br>
					<s class="smallprice">29 €</s>
					<br>
					<strong>Enfant</strong>
					<br>
					<p class="age">3 à 10 ans</p>
				</div>
			</div>
		</div>
		<div class="text-center">Cette offre se termine dans :</div>
		<div id="clockdiv">
			<div>
				<span class="days" id="day"></span>
				<div class="smalltext">Jours</div>
			</div>
			<div>
				<span class="hours" id="hour"></span>
				<div class="smalltext">Heures</div>
			</div>
			<div>
				<span class="minutes" id="minute"></span>
				<div class="smalltext">Minutes</div>
			</div>
			<div>
				<span class="seconds" id="second"></span>
				<div class="smalltext">Secondes</div>
			</div>
		</div>
		<p id="promo"></p>
	</div>
</div>