<div>
    <h1 class="ticket text-center">Billets ou Pass annuel</h1>
    <p class="text text-center">Choisissez votre billet 1 jour, 2 jours ou ZooPass annuel</p>
</div>

<div class="row">
  <div class="offset-lg-2 col-lg-3 col-sm-6">
    <div class="card mb-5 mt-5">
      <div class="option">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-circle-fill toggleImg" viewBox="0 0 16 16">
          <circle cx="8" cy="8" r="8"/>
          </svg>
      </div>
      <img src="{{ asset('build/images/toucan.jpeg') }}" alt="image toucan" class="animals">
      <div class="card-img-overlay m-0 p-0 d-flex flex-column justify-content-end toggleImg">
        <div class="card-footer text-center text-light opacity-75">
            <h2 class="entity">BILLET 1 JOUR</h2>
            <p class="card-text me-2 ms-2">À partir de 27 € par enfant et 34 € par adulte</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card mb-5 mt-5">
      <div class="option">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-circle-fill toggleImg" viewBox="0 0 16 16">
          <circle cx="8" cy="8" r="8"/>
          </svg>
      </div>
      <img src="{{ asset('build/images/lion.jpeg') }}" alt="image lion" class="animals">
      <div class="card-img-overlay m-0 p-0 d-flex flex-column justify-content-end toggleImg">
        <div class="card-footer text-center text-light opacity-75">
            <h2>BILLET 2 JOURS</h2>
            <p>Le 2ème jour à moitié prix !<br><span class="card-text"> À partir de 40,5 € par enfant et 51 € par adulte</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card mb-5 mt-5">
      <div class="option">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-circle-fill toggleImg" viewBox="0 0 16 16">
          <circle cx="8" cy="8" r="8"/>
          </svg>
      </div>
      <img src="{{ asset('build/images/koala.jpeg') }}" alt="image koala"  class="animals">
      <div class="card-img-overlay m-0 p-0 d-flex flex-column justify-content-end toggleImg">
          <div class="card-footer text-center text-light opacity-75">
              <h2 class="entity">ZOOPASS ANNUEL</h2>
              <p class="card-text ms-2 me-2">Au prix de 2 entrées seulement !</p>
          </div>
      </div>
    </div>
  </div>
 
